<!--<div class="userInfoContainer primary-color-text">-->
<!--  {{userInfo.firstName}}-->
<!--  {{userInfo.lastName}}-->
<!--  {{userInfo.birthday}}-->
<!--  {{userInfo.type}}-->
<!--  <ng-container *ngIf="userInfo.status === true">{{userInfo.status}}</ng-container>-->

<!--  <ng-container [ngSwitch]="userInfo.type">-->
<!--    <ng-container *ngSwitchCase="GenderType.Female"><span [ngClass]="{'F': userInfo.type === GenderType.Female}">{{ userInfo.type }}</span></ng-container>-->
<!--    <ng-container *ngSwitchCase="GenderType.Male"><span [ngClass]="{'M': userInfo.type === GenderType.Male}">{{ userInfo.type }}</span></ng-container>-->
<!--    <ng-container *ngSwitchDefault><span [ngClass]="{'U': userInfo.type === GenderType.Unknown}">No gender type set</span></ng-container>-->
<!--  </ng-container>-->
<!--</div>-->


<div class="userInfoContainer primary-color-text" (click)="onUserInfoClick(userInfo.id)" [ngClass]="{'onlineUser': userInfo.status}">
  {{userInfo.firstName}} - {{userInfo.lastName}}
  <span class="onlineSvgIconUser" *ngIf="userInfo.status; else offlineIconUser">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
      <path d="M24 24c4.42 0 8-3.59 8-8 0-4.42-3.58-8-8-8s-8 3.58-8 8c0 4.41 3.58 8 8 8zm0 4c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"
      />
    </svg>
  </span>
  <ng-template #offlineIconUser>
    <span class="offlineSvgIconUser">
      <svg class="offlineSvgIconUser" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
        <path d="M24 11.8c2.32 0 4.2 1.88 4.2 4.2s-1.88 4.2-4.2 4.2-4.2-1.88-4.2-4.2 1.88-4.2 4.2-4.2m0 18c5.95 0 12.2 2.91 12.2 4.2v2.2H11.8V34c0-1.29 6.25-4.2 12.2-4.2M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 18c-5.33 0-16 2.67-16 8v6h32v-6c0-5.33-10.67-8-16-8z"
        />
      </svg>
    </span>
  </ng-template>
</div>
